body {
    background-color: #008080;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#taskbar {
    background-color: #c0c0c0;
    bottom: 0;
    height: 40px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 25px;
    width: 100%;
}

#desktop-icons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0px;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    width: 100vw;
}
.desktop-icon {
    border-radius: 5px;
    padding: 10px;
    z-index: 10;
    font-size: 15pt;
    text-align: center;
    p{
        margin: 0;
        padding: 5px 10px;
    }
}
.desktop-icon img {
    height: 60px;
    width: 60px;
    padding: 10px;
}
.desktop-icon span {
    display: block;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.desktop-icon.selected {
    img, p {
        background-color: #000080;
        color: #ffffff;
    }
}